.calendar-container{
	width: 830px;
	height: 870px;
	background-image: url("Images/christmas1.png") !important;
	margin-left: auto;
	margin-right: auto;
}

#modal {
	position: absolute;
	width: 350px;
	height: 350px;
	background: silver;
	 left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 170px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: 1px solid black;
}
#close {
	position: absolute;
  	right: 11px;
  	top: 5px;
}