.calendar-container{
	width: 830px;
	height: 870px;
	background-image: url("obrazky/christmas1.png") !important;
	margin-left: auto;
	margin-right: auto;
}

#modal {
	position: absolute;
	width: 350px;
	height: 350px;
	background: white;
	 left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 170px;
}
#close {
	position: absolute;
  	right: 5px;
  	top: 5px;
}